#heading{
    font-size: 55px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Acme', sans-serif;
}

    button {
        color: white;
        width: 1000px;
    }

#webcam {
    background-color: rgb(105, 82, 82);
    box-shadow: 15px 15px 15px rgb(177, 215, 215);
  border-style: dotted;
  width: 400px;
  height:400px;
  margin: 100px;
  margin-right:1000px;
}    

#img {
    background-color: rgb(105, 82, 82);
    box-shadow: 15px 15px 15px rgb(177, 215, 215);
  border-style: dotted;
  width: 400px;
  height:400px;

  margin-left:1000px;
}    

.cap_img {
width: fit-content;
padding: 10px;
margin-right:900px;

}